*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    color: #333;
}

.input-container {
    margin-bottom: 15px;
}

.input-container i {
    margin-right: 10px;
}

input {
    padding: 8px;
    width: 200px;
}

.login-button {
    background-color: rgb(1, 82, 82);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.login-button i {
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
    height: 100vh;
    width: 100%;
  }
  .header {
    grid-area: header;
    background-color: #003b54;
    color: white;
    padding: 1em;
  }
  
  .header h1 {
    text-align: center;
  }
  
  .header a {
    background-color: rgb(79, 0, 0);
    padding: 0.5em 0.7em;
    border-radius: 3px;
    text-decoration: none;
    color: white;
  }
  
  .aside {
    grid-area: aside;
    background-color: #333;
    color: white;
  }
  
  .aside h1 {
    margin-bottom: 0.5em;
    text-align: center;
    padding-top: 1em;
  }
  
  .aside ul {
    list-style: none;
  }
  
  .aside ul li {
    padding: 0.8em 0;
    padding-left: 0.8em;
  }
  
  .aside ul li:hover {
    background-color: #ccc;
    color: black;
  }
  
  .main {
    grid-area: main;
    text-align: center;
    padding: 2em;
  }
  
  .main h1 {
    margin-bottom: 0.5em;
  }
  
  .footer {
    grid-area: footer;
    background-color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }